/target/
/out/
/.idea/
/src/test/
/src/main/test/
/src/main/resources/static/js/bootstrap.min.js
/src/main/resources/static/styles/bootstrap.min.css
/src/main/resources/static/js/popper.min.js
/src/main/resources/static/js/tgs-player.js
/src/main/resources/static/stickers/animated/
/artifacts/
/resources/
/src/main/resources/static/js/jquery-3.6.0.min.js
*.docx
/keystore.p12
