/target/
/out/
/.idea/
/src/test/
/src/main/test/
/resources/static/js/bootstrap.min.js
/resources/static/styles/bootstrap.min.css
/resources/static/js/popper.min.js
/resources/static/js/tgs-player.js
/resources/static/js/jquery-3.6.0.min.js
/artifacts/
/keystore.p12
/resources/static/stickers/
/resources/static/js/jquery.cycle.js
