/target/
/out/
/.idea/
/src/test/
/src/main/test/
/src/main/resources/static/scripts/bootstrap.min.js
/src/main/resources/static/styles/bootstrap.min.css
/src/main/resources/static/scripts/popper.min.js
