<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="sticker" type="ru.tigran.cardcollector.database.entity.UserSticker"*/-->
<th:block th:fragment="stickers" th:each="sticker : ${stickers}">
    <div class="card sticker-thumb bg-transparent border-0">
        <tgs-player th:if="${sticker.getAnimated()}"
                    autoplay loop mode="normal"
                    class="img-fluid"
                    th:src="${sticker.getFilePath()}">
        </tgs-player>
        <img th:if="${!sticker.getAnimated()}"
             class="img-fluid"
             th:src="${sticker.getFilePath()}">
        <div class="card-body">
            <a class="stretched-link" th:href="'/sticker?hash=' + ${sticker.ShortHash}"></a>
        </div>
    </div>
</th:block>