<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="stickers" type="java.util.List<ru.tigran.cardcollector.database.entity.Sticker>"*/-->
<th:block th:fragment="stickers">
    <input type="number" style="visibility: hidden; height: 0; width: 0" id="pagesCount" th:value="${pagesCount}">
    <th:block th:each="sticker : ${stickers}" th:if="${stickers.size() > 0}">
        <div class="card sticker-thumb-sm bg-transparent border-0">
            <tgs-player th:if="${sticker.Animated}"
                        autoplay loop mode="normal"
                        class="img-fluid"
                        th:src="${sticker.getFilePath()}">
            </tgs-player>
            <img th:if="${!sticker.Animated}"
                 class="img-fluid"
                 th:src="${sticker.getFilePath()}">
            <div class="card-body">
                <a class="stretched-link" th:href="'/sticker?hash=' + ${sticker.MD5Hash}"></a>
            </div>
        </div>
    </th:block>
    <h2 class="text-light" th:if="${stickers.size() == 0 && !noStickers}">Ничего не найдено, попробуйте изменить критерии запроса</h2>
</th:block>