<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:insert="blocks/includes :: header"></head>
<body class="bg-dark d-flex flex-column h-100">
<nav th:replace="blocks/header :: header"></nav>
<div class="flex-shrink-0 container d-flex justify-content-around flex-wrap">
    <th:block th:each="pack,iter : ${packs}">
        <div class="card text-center bg-secondary mb-2 text-dark mx-2">
            <div class="sticker-thumb mx-auto">
                <tgs-player th:if="${pack.Animated}"
                            autoplay loop mode="normal"
                            class="img-fluid"
                            th:src="${pack.getStickerPreviewPath()}">
                </tgs-player>
                <img th:if="${!pack.Animated}"
                     class="img-fluid"
                     th:src="${pack.getStickerPreviewPath()}">
            </div>
            <div class="card-body">
                <h3 class="card-title" th:text="${pack.Author}"></h3>
                <a class="stretched-link" th:href="'/pack?id=' + ${pack.Id}"></a>
            </div>
        </div>
    </th:block>
</div>
<footer th:replace="blocks/footer :: footer"></footer>
<div th:replace="blocks/includes :: footer"></div>
</body>
</html>