<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/blocks/includes :: header"></head>
<body class="bg-dark">
<nav th:replace="/blocks/header :: header"></nav>
<div class="container-fluid d-flex justify-content-evenly flex-wrap">
    <th:block th:each="pack,iter : ${packs}">
        <div class="card text-center bg-secondary border-dark mb-3 text-dark border-light" style="max-width: 540px;">
                <tgs-player th:if="${#strings.contains(pack.StickerPreviewPath, 'tgs')}"
                            autoplay loop mode="normal"
                            class="img-fluid rounded-start sticker-img"
                            th:src="${pack.StickerPreviewPath}">
                </tgs-player>
                <img th:if="${#strings.contains(pack.StickerPreviewPath, 'webp')}"
                     class="img-fluid rounded-start sticker-img"
                     th:src="${pack.StickerPreviewPath}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pack.Author}"></h5>
                    <a class="stretched-link" th:href="'/pack?id=' + ${pack.Id}"></a>
                </div>
            </div>
    </th:block>
</div>
<div th:replace="/blocks/includes :: footer"></div>
</body>
</html>