<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:insert="blocks/includes :: header"></head>
<body class="bg-dark d-flex flex-column h-100">
<nav th:replace="blocks/header :: header"></nav>
<div class="flex-shrink-0 container d-flex justify-content-around flex-wrap">
    <th:block th:each="sticker,iter : ${stickers}">
        <div class="card bg-secondary mb-2 text-dark container" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 margin mx-auto sticker-thumb">
                    <tgs-player th:if="${sticker.Animated}"
                                autoplay loop mode="normal"
                                class="img-fluid"
                                th:src="${sticker.getFilePath()}">
                    </tgs-player>
                    <img th:if="${!sticker.Animated}"
                         class="img-fluid"
                         th:src="${sticker.getFilePath()}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${sticker.Title}"></h5>
                        <h5 class="card-title" th:text="${sticker.getStarTier()}"></h5>
                        <p class="card-text" th:text="${sticker.Description}"></p>
                        <a class="stretched-link" th:href="'/sticker?hash=' + ${sticker.MD5Hash}"></a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>
<footer th:replace="blocks/footer :: footer"></footer>
<div th:replace="blocks/includes :: footer"></div>
</body>
</html>