<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/header :: stickers_head('WyrmSticker | Все стикеры')"></head>

<body>
<div class="wrapper">
    <!--Шапка-->
    <header th:replace="blocks/header :: header"></header>

    <!--Основная часть-->
    <main class="main">
        <div class="main__wrapper">
            <div class="stickers-bg" id="stickersContent">
                <!--/*@thymesVar id="filters" type="ru.tigran.cardcollector.models.FiltersDTO"*/-->
                <th:block th:fragment="stickers_page(stickers, filters, pagesCount, authors, emojis)">
                    <div class="stickers-page">
                        <th:block th:replace="blocks/filters :: filters(${filters}, ${authors}, ${emojis})"/>

                        <th:block th:replace="sticker/blocks :: stickers(${stickers})"/>
                    </div>

                    <th:block th:replace="blocks/pages :: pages(${filters.getPage() ?: 1}, ${pagesCount})"/>
                </th:block>
            </div>
        </div>
    </main>

    <th:block th:replace="blocks/footer :: footer"/>
</div>

<script th:src="@{~/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{~/js/filters.js}"></script>
<script th:src="@{~/js/tgs-player.js}"></script>
</body>

</html>