<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pages(page, pagesCount)" th:if="${pagesCount > 1}">
    <nav class="nav">
        <ul class="nav__stikers-page" id="pagesBottom">
            <li class="nav__page" th:if="${page != 1 && page != null}">
                <button class="nav__button" th:onclick="'setPage('+${page - 1}+')'"><</button>
            </li>
            <li class="nav__page" th:if="${page > 3}">
                <button class="nav__button">..</button>
            </li>

            <th:block th:each="pageNum : ${#numbers.sequence(page - 2, page + 2)}">
                <li class="nav__page" th:if="${pageNum > 0 && pageNum <= pagesCount}" th:id="'page'+${pageNum}">
                    <button class="nav__button" th:onclick="'setPage('+${pageNum}+')'"
                            th:text="${pageNum}"></button>
                </li>
            </th:block>

            <li class="nav__page" th:if="${page + 2 < pagesCount}">
                <button class="nav__button">..</button>
            </li>
            <li class="nav__page" th:if="${page != pagesCount && pagesCount > 1}">
                <button class="nav__button" th:onclick="'setPage('+${page + 1}+')'">></button>
            </li>
        </ul>
    </nav>
</th:block>