<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="sticker" type="ru.tigran.cardcollector.database.entity.Sticker"*/-->
<head th:insert="blocks/header :: sticker_head('WyrmSticker | ' + ${sticker.getTitle()})"></head>

<body>
<div class="wrapper">
    <!--Шапка-->
    <header th:replace="blocks/header :: header"></header>

    <!--Основная часть-->
    <main class="main">
        <div class="main__wrapper">
            <div class="sticker-bg">
                <div class="page-title">
                    <h1 class="page-title__text">'Результат поиска по «Коллекция»'</h1>
                </div>
                <th:block th:replace="blocks/previews :: sticker_card(${sticker})"/>

                <div class="sticker-nav">
                    <!--/*@thymesVar id="previous" type="ru.tigran.cardcollector.database.entity.Sticker"*/-->
                    <a th:if="${previous}" th:href="@{~/collection/sticker(hash = ${previous.getId()})}"
                       class="sticker-nav__link-prev"></a>
                    <a th:href="@{~/collection/back}" class="sticker-nav__link">К коллекции</a>
                    <!--/*@thymesVar id="next" type="ru.tigran.cardcollector.database.entity.Sticker"*/-->
                    <a th:if="${next}" th:href="@{~/collection/sticker(hash = ${next.getId()})}"
                       class="sticker-nav__link-next"></a>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="blocks/footer :: footer"/>
</div>

<script th:src="@{~/js/tgs-player.js}"></script>
</body>

</html>