<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/header :: about_head"></head>

<body>
    <div class="wrapper">
        <!--Шапка-->
        <header th:replace="blocks/header :: header"></header>

        <!--Основная часть-->
        <main class="main">
            <div class="main__wrapper">
                <div class="contacts">
                    <div class="page-title">
                        <h1 class="page-title__text">Контакты</h1>
                    </div>
                    <div class="contacts__card">
                        <div class="contacts__logo">
                            <a href="https://t.me/wyrm_sticker_bot">
                                <img th:src="@{~/img/Dragon_av.png}" alt="StickerBot" class="contacts__logo-img">
                            </a>
                        </div>
                       
                        <div class="contacts__info">
                            <div class="contacts__info-row">
                                <h2 class="contacts__info-title">Владелец проекта</h2>
                                <p class="contacts__info-text">Снегуров Георгий: 
                                    <a href="https://t.me/fliesh" class="contacts__info-link contacts__info-link_yellow">Telegram</a>
                                    <a href="https://vk.com/fliesh" class="contacts__info-link contacts__info-link_lite-blue">Вконтакте</a>
                                </p>
                            </div>
                            <div class="contacts__info-row">
                                <h2 class="contacts__info-title">Команда разработчиков</h2>
                                <p class="contacts__info-text">Федькин Петр:
                                    <a href="https://t.me/yjga125" class="contacts__info-link contacts__info-link_yellow">Telegram</a>
                                    <a href="https://vk.com/yjga125" class="contacts__info-link contacts__info-link_lite-blue">Вконтакте</a>
                                    <a href="mailto: yjga125@gmail.com" class="contacts__info-link contacts__info-link_dark-blue">Эл. Почта</a>
                                </p>
                                <p class="contacts__info-text">Шагинян Тигран:
                                    <a href="https://t.me/Legite" class="contacts__info-link contacts__info-link_yellow">Telegram</a>
                                    <a href="https://vk.com/prlate" class="contacts__info-link contacts__info-link_lite-blue">Вконтакте</a>
                                    <a href="mailto: abvgdesh3@gmail.com" class="contacts__info-link contacts__info-link_dark-blue">Эл. Почта</a>
                                </p>
                            </div>
                            <div class="contacts__info-row">
                                <h2 class="contacts__info-title">Техническая поддержка</h2>
                                <p class="contacts__info-text">
                                    <a href="https://t.me/yjga125" class="contacts__info-link contacts__info-link_yellow">Telegram</a>
                                    <a href="https://t.me/Legite" class="contacts__info-link contacts__info-link_yellow">Telegram 2</a>
                                    <a href="mailto: yjga125@gmail.com" class="contacts__info-link contacts__info-link_lite-blue">Вконтакте</a>
                                    <a href="mailto: abvgdesh3@gmail.com" class="contacts__info-link contacts__info-link_lite-blue">Вконтакте 2</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <th:block th:replace="blocks/footer :: footer"/>
    </div>
</body>

</html>