<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/header :: login_head('WyrmSticker | Ошибка')"></head>
<body>
<div class="wrapper">
    <!--Шапка-->
    <header th:insert="blocks/header :: header"></header>

    <!--Основная часть-->
    <main class="main">
        <div class="main__wrapper">
            <div class="page-bg">
                <div class="page-title">
                    <h1 class="page-title__text">404</h1>
                    <h1 class="page-title__text">Страница не найдена</h1>
                </div>
                <div class="auth">
                    <a href="/" class="auth__link">На главную</a>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="blocks/footer :: footer"/>
</div>
<script th:src="@{~/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{~/js/header.js}"></script>
</body>
</html>