<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/header :: login_head"></head>

<body>
<div class="wrapper">
    <!--Шапка-->
    <header th:replace="blocks/header :: header"></header>

    <!--Основная часть-->
    <main class="main">
        <div class="main__wrapper">
            <div class="page-bg">
                <div class="page-title">
                    <h1 class="page-title__text">Вы не авторизированы</h1>
                </div>

                <div class="auth">
                    <img th:src="@{~/img/Dragon_av.png}" alt="StickerBot" class="auth__img">
                    <a id="BotLink" href="#" class="auth__link">Перейти к боту</a>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="blocks/footer :: footer"/>
</div>
<input type="text" name="botName" th:value="${botName}" style="visibility: hidden; height: 0; width: 0"/>

<script th:src="@{~/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{~/js/login.js}"></script>
</body>
</html>