<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:insert="blocks/includes :: header"></head>
<body class="bg-dark d-flex flex-column h-100">
<nav th:replace="blocks/header :: header"></nav>
<!--/*@thymesVar id="user" type="ru.tigran.cardcollector.database.entity.User"*/-->
<div class="container d-flex flex-row">
    <div class="d-flex flex-column w-25 text-light">
        <h4 class="display-3" th:text="${user.Username}"></h4>
        <hr/>
        <h5 th:text="'Уровень: ' + ${user.userLevel.Level} + '🆙'"></h5>
        <h6 th:text="'Текущий опыт: ' + ${user.userLevel.CurrentExp} + '🧪'"></h6>
        <h6 th:text="'Всего опыта: ' + ${user.userLevel.TotalExp} + '🧪'"></h6>
        <hr/>
        <h5>Баланс</h5>
        <h6 th:text="'Монеты: ' + ${user.cash.Coins} + '💰'"></h6>
        <h6 th:text="'Алмазы: ' + ${user.cash.Gems} + '💎'"></h6>
    </div>
    <div class="d-flex flex-column w-75 text-light">
        <h4 class="display-3">Мои стикеры</h4>
        <hr/>
        <div class="d-flex flex-row flex-wrap justify-content-evenly">
            <th:block th:each="userSticker : ${user.stickers}">
                <div class="card sticker-thumb-md bg-transparent border-0">
                    <tgs-player th:if="${userSticker.getAnimated()}"
                                autoplay loop mode="normal"
                                class="img-fluid"
                                th:src="${userSticker.getFilePath()}">
                    </tgs-player>
                    <img th:if="${!userSticker.getAnimated()}"
                         class="img-fluid"
                         th:src="${userSticker.getFilePath()}">
                    <div class="card-body">
                        <a class="stretched-link" th:href="'/sticker?hash=' + ${userSticker.ShortHash}"></a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<footer th:replace="blocks/footer :: footer"></footer>
<div th:replace="blocks/includes :: footer"></div>
</body>
</html>