<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:insert="/blocks/includes :: header"></head>
<body class="bg-dark d-flex flex-column h-100">
<nav th:replace="/blocks/header :: header"></nav>
<div class="flex-shrink-0 container">
    <h1 class="display-4 text-light">Контакты</h1>
    <figure class="text-light">
        <blockquote class="blockquote">
            <p>Владелец проекта</p>
        </blockquote>
        <figcaption class="blockquote-footer text-light">
            Снегуров Георгий: <a class="telegram-link" href="https://t.me/fliesh">Telegram</a>
            <a class="vkontakte-link" href="https://vk.com/fliesh">Вконтакте</a>
        </figcaption>
    </figure>
    <figure class="text-light">
        <blockquote class="blockquote">
            <p>Команда разработчиков</p>
        </blockquote>
        <figcaption class="blockquote-footer text-light">
            Федькин Пётр: <a class="telegram-link" href="https://t.me/yjga125">Telegram</a>
            <a class="vkontakte-link" href="https://vk.com/yjga125">ВКонтакте</a>
            <a class="gmail-link" href="mailto: yjga125@gmail.com">Эл. Почта</a>
        </figcaption>
        <figcaption class="blockquote-footer text-light">
            Шагинян Тигран: <a class="telegram-link" href="https://t.me/Legite">Telegram</a>
            <a class="vkontakte-link" href="https://vk.com/prlate">ВКонтакте</a>
            <a class="gmail-link" href="mailto: abvgdesh3@gmail.com">Эл. Почта</a>
        </figcaption>
    </figure>
    <figure class="text-light">
        <blockquote class="blockquote">
            <p>Техническая поддержка</p>
        </blockquote>
        <figcaption class="blockquote-footer text-light">
            <a class="telegram-link" href="https://t.me/yjga125">Telegram</a>
            <a class="telegram-link" href="https://t.me/Legite">Telegram 2</a>
            <a class="gmail-link" href="mailto: yjga125@gmail.com">Эл. Почта</a>
            <a class="gmail-link" href="mailto: abvgdesh3@gmail.com">Эл. Почта 2</a>
        </figcaption>
    </figure>
</div>
<footer th:replace="/blocks/footer :: footer"></footer>
<div th:replace="/blocks/includes :: footer"></div>
</body>
</html>