<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/styles/min.css}" rel="stylesheet">
</head>

<div th:fragment="footer">
    <!-- Bootstrap core JS -->
    <script th:href="@{/scripts/bootstrap.min.js}"></script>
    <script th:href="@{/scripts/popper.min.js}"></script>
</div>
