<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/styles/min.css}" rel="stylesheet">
</head>

<div th:fragment="footer">
    <!-- Bootstrap core JS -->
    <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:href="@{/js/popper.min.js}"></script>
    <!-- Lottie TGS Player -->
    <script type="text/javascript" href="https://unpkg.com/@lottiefiles/lottie-player@1.4.5/dist/tgs-player.js"></script>
</div>
