<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/header :: top_head"></head>

<body>
<div class="wrapper">
    <!--Шапка-->
    <header th:replace="blocks/header :: header"></header>

    <!--Основная часть-->
    <main class="main">
        <div class="main__wrapper">
            <div class="container">
                <div class="page-title">
                    <h2 class="page-title__text">Рейтинг пользователей</h2>
                </div>

                <div class="top">
                    <div class="top__experience">
                        <h2 class="top__title">Топ пользователей по опыту</h2>
                        <h2 th:if="${expTop.size() == 0}" class="top__title">Здесь пока никого нет. Вы можете стать
                            первым!</h2>
                        <div class="top__wrapper">
                            <ul class="top__list">
                                <!--/*@thymesVar id="expTop" type="List<Map.Entry<String, Long>>"*/-->
                                <li th:each="pair : ${expTop}" class="top__item">
                                    <span class="top__item-name" th:text="${pair.getKey()}"></span> -
                                    <span class="top__item-num" th:text="${pair.getValue()}"></span> опыта
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="top__range">
                        <h2 class="top__title">Топ пользователей по стикерам <span class="num">4</span> тира</h2>
                        <h2 th:if="${tier4Top.size() == 0}" class="top__title">Здесь пока никого нет. Вы можете стать
                            первым!</h2>
                        <div class="top__wrapper">
                            <ul class="top__list">
                                <!--/*@thymesVar id="tier4Top" type="List<Map.Entry<String, int>>"*/-->
                                <li th:each="pair : ${tier4Top}" class="top__item">
                                    <span class="top__item-name" th:text="${pair.getKey()}"></span> -
                                    <span class="top__item-num" th:text="${pair.getValue()}"></span> стикеров
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="blocks/footer :: footer"/>
</div>

<script th:src="@{~/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{~/js/top.js}"></script>
</body>

</html>