<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/header :: top_head('WyrmSticker | Топ пользователей')"></head>

<body>
<div class="wrapper">
    <!--Шапка-->
    <header th:replace="blocks/header :: header"></header>

    <!--Основная часть-->
    <main class="main">
        <div class="main__wrapper">
            <div class="container">
                <div class="page-title">
                    <h2 class="page-title__text" th:text="'Рейтинг пользователей (по ' + ${endDate} + ')'"></h2>
                </div>

                <div class="top">
                    <div class="top__experience" th:insert="top/blocks :: top('Топ пользователей по опыту', ${exp}, 'опыта', ${expPosition})"></div>
                    <div class="top__range" th:insert="top/blocks :: top('Топ пользователей по стикерам 4 тира', ${tier4}, 'стикеров', ${tier4Position})"></div>
                </div>

                <div class="top">
                    <div class="top__experience" th:insert="top/blocks :: top('Топ пользователей по играм в рулетку', ${roulette}, 'игр', ${roulettePosition})"></div>
                    <div class="top__range" th:insert="top/blocks :: top('Топ пользователей по играм в лесенку', ${ladder}, 'игр', ${ladderPosition})"></div>
                </div>

                <div class="top">
                    <div class="top__experience" th:insert="top/blocks :: top('Топ пользователей по играм в пазл', ${puzzle}, 'игр', ${puzzlePosition})"></div>
                    <div class="top__range" th:insert="top/blocks :: top('Топ пользователей по забранным призам', ${gift}, 'призов', ${giftPosition})"></div>
                </div>

                <div class="top">
                    <div class="top__experience" th:insert="top/blocks :: top('Топ пользователей по приглашенным друзьям', ${invite}, 'друзей', ${invitePosition})"></div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="blocks/footer :: footer"/>
</div>

<script th:src="@{~/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{~/js/header.js}"></script>
<script th:src="@{~/js/top.js}"></script>
</body>

</html>