<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/header :: packs_head"></head>

<body>
    <div class="wrapper">
        <!--Шапка-->
        <header th:insert="blocks/header :: header"></header>

        <!--Основная часть-->
        <main class="main">
            <div class="main__wrapper">
                <th:block th:fragment="packs_page(packs)">
                    <div class="stickerPacks-bg">
                        <th:block th:each="i: ${#numbers.sequence(0, packs.size(), 4)}">
                            <th:block th:replace="pack/blocks :: pack_row(${packs}, ${i}, ${i+3})"/>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </main>
        <th:block th:replace="blocks/footer :: footer"/>
    </div>

    <script th:src="@{~/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{~/js/script.js}"></script>
    <script th:src="@{~/js/tgs-player.js}"></script>
</body>

</html>