<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="pack" type="ru.tigran.cardcollector.database.entity.Pack"*/-->
<head th:insert="blocks/header :: pack_head('WyrmSticker | ' + ${pack.getAuthor()})"></head>

<body>
<div class="wrapper">
    <!--Шапка-->
    <header th:insert="blocks/header :: header"></header>

    <!--Основная часть-->
    <main class="main">
        <div class="main__wrapper">
            <th:block th:fragment="pack_page(pack, stickers)">
                <div class="stickerPack-bg">
                    <div class="page-title">
                        <h1 class="page-title__text">Стикерпак от
                            <span class="page-title_name" th:text="${pack.getAuthor()}"></span></h1>
                    </div>
                    <div class="stickerPack">
                        <th:block th:each="i: ${#numbers.sequence(0, stickers.size(), 2)}">
                            <th:block th:replace="pack/blocks :: sticker_row(${stickers}, ${i}, ${i+1})"/>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>
    </main>
    <th:block th:replace="blocks/footer :: footer"/>
</div>
<script th:src="@{~/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{~/js/header.js}"></script>
<script th:src="@{~/js/tgs-player.js}"></script>
</body>
</html>