svg, tgs-player{
    height: fit-content;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
    border-bottom: 1px solid white;
}

.sticker-thumb-md{
    padding: 2%;
    max-height: 256px;
    max-width: 256px;
}

.sticker-thumb-sm{
    padding: 2%;
    max-height: 200px;
    max-width: 200px;
}

.sticker-carousel-thumb{
    padding: 2%;
    max-height: 200px;
    max-width: 200px;
}

.sticker-full{
    padding: 2%;
    max-height: 512px;
    max-width: 512px;
}

.pr-2p{
    padding-right: 2%;
}
.pr-10px{
    padding-right: 10px;
}

.carousel-indicators{
    margin-bottom: 0;
}

.carousel-indicators-low {
    border-bottom: 2px solid transparent!important;
}

.card-horizontal-gutter{
    background-color: transparent;
    width: 0.5rem;
    max-height: 0;
}

.telegram-link{
    color: #0088CC;
}
.vkontakte-link{
    color: #4376A6;
}
.gmail-link{
    color: #EA4335;
}
.telegram-link:hover{
    color: #0073ad;
}
.vkontakte-link:hover{
    color: #37628a;
}
.gmail-link:hover{
    color: #c93a2e;
}

.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
    background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important
}

.scroller-menu{
    max-height: 20vh;
    overflow: auto;
}

.accordion-button:focus{
    border: none;
    box-shadow: none;
}
.accordion-body{
    padding: 0;
}

.menu-button{
    border-radius: 0;
}

.page-link{
    border: transparent;
    background-color: #6c757d;
    color: #fff;
}
.page-item.active .page-link, .page-item:hover .page-link,  .page-item:focus .page-link{
    color: #fff;
    background-color: #565e64;
}